@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Swiper Slider Style */

/* Navigantion */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
  font-weight: 800 !important;
  background: #fff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: #000;
  text-align: center;
  line-height: 22px !important;
  position: relative;
  top: -12px;
}

.swiper-button-disabled {
  display: none !important;
}

/* Pagination */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

span.swiper-pagination-bullet {
  background: rgba(256, 256, 256, 0.7);
  width: 6px;
  height: 6px;
}

.swiper {
  z-index: -1 !important;
}

.layout .modal-wrapper {
  z-index: 50;
}
